.active{
    background-color: rgb(27, 3, 129);
    color: honeydew;
    border-radius: 5px;
    

}
.navbar-nav a{
    color: white;
    margin: 10px 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;

}
/* .navbar-nav a:hover{
   color:navy; 
   background-color:gainsboro;
   border-radius: 5px;
} */